body{
background-color: rgb(209, 180, 127);
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1{
text-align: center;
}
#page{
  align-content: center;
 
}

#plated{
  float:left;
}

#devoured{
  float: left;
}

#addNew{
clear: both;;
}