body{
background-color: rgb(209, 180, 127);
}

li {
  padding: 5px;
  margin: 2px;
  background: #f7efe5;
  border-radius: 3%;
}

.label {
  font-weight: bold;
}

input{
height:50px;
width:300px;
border-radius: 5%;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1{
text-align: center;
color: red;
}


#plated{
  float:left;
  margin-left: 25%;
}

#devoured{
  float: left;
  margin-right: 15%;
}

#addNew{
clear: both;

text-align: center;
}